extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	.center-container
		.panel
			.bg
			.bg-overlay
			.content
				form(method='POST')
					inputype="hidden", name="_csrf" value=_csrf

					header= "Forgot"

					p= "ForgotHint"

					.form-group
						label(for='email')= "EmailSC"
						input.form-control(type='email', name='email', id='email', placeholder="Email"), autofocus

					.flash
						if messages.info
							.alert.alert-success
								for info in messages.info
									div= info.msg
						if messages.error
							.alert.alert-danger
								for error in messages.error
									div= error.msg

					.form-group
						button(type="submit")= "ResetPassword"

block scripts
	scripsrc='/app/frontend.js'